.git
.github
node_modules
dist
build
coverage
jetlag-frontend/node_modules
jetlag-frontend/dist
jetlag-frontend/build
jetlag-frontend/coverage
jetlag-backend/node_modules
jetlag-backend/data
jetlag-backend/logs
jetlag-backend/uploads
jetlag-backend/coverage
uploads
.uploads
.env
.env.*
.idea
.vscode
*.log
